<!--detail.html-->
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
	    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
	    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
	{% endfor %}
	<input type="submit" value="Vote"><br>
</form>


<!-- FORM EXAMPLE AND ITS ATTRIBUTES
<!DOCTYPE html>
<html>
<body>

<h2>The output Element</h2>
<p>The output element represents the result of a calculation.</p>

<form action="/action_page.php" target="_blank"
oninput="x.value=parseInt(a.value)+parseInt(b.value)+parseInt(y.value)" method="get">
  <input type="number" name="y" min="1" max="100">
  +
  <input type="password" id="a" name="a" value="0">
  +
  <input type="range" id="b" name="b" value="30" min="0" max="250">

  <output name="x">Result</output>
  <br><br>
  <input type="submit" value="GET to new window">
  <input type="submit" formmethod="post" value="POST here" formtarget="_self">
  <input type="submit" value="POST to new window" formmethod="post">
  <input type="reset"><br><br>
  <input type="date"name="date" value="2019-01-30"><br>
  <input type="datetime-local=" name="dt"><br><br>
  Select a file:<input type:"file" name="file">


<p><strong>Note:</strong> The output element is not supported in Edge 12 or Internet Explorer and earlier versions.</p>

</body>
</html>
-->
